<div class='money27'>{{format-money money27}}</div>
<div class='money0'>{{format-money money0}}</div>
<div class='money366'>{{format-money money366}}</div>
<div class='money89466'>{{format-money money89466}}</div>
<div class='money340000'>{{format-money money340000}}</div>
<div class='money3400000'>{{format-money money3400000}}</div>
<div class='money340000000'>{{format-money money340000000}}</div>
<div class='summarized-money27'>{{format-money money27 summarize=true}}</div>
<div class='summarized-money0'>{{format-money money0 summarize=true}}</div>
<div class='summarized-money366'>{{format-money money366 summarize=true}}</div>
<div class='summarized-money89466'>{{format-money money89466 summarize=true}}</div>
<div class='summarized-money340000'>{{format-money money340000 summarize=true}}</div>
<div class='summarized-money3400000'>{{format-money money3400000 summarize=true}}</div>
<div class='summarized-money340000000'>{{format-money money340000000 summarize=true}}</div>
